body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

.navbar-header {
    font-weight: bold;
}

#banner-image {
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}

#banner-content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}